  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #240d30; /* Fondo violeta oscuro */
    color: #fff; /* Texto blanco */
    initial-letter: 2rem;
   
  }
  .content-faq{
    background-color: #4B0082; /* Fondo violeta oscuro */
  }
  .question-center-vertical{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: left;
    justify-content: center;
  }

  .identacion{
    text-indent: 50px;
  }
  .mayuscula{
    text-transform:uppercase;
  }

  .button-right{
    margin-left: 51%;
  }

  @media (max-width: 750px) {
    .content {
      padding-right: 0rem;
      padding-left: 0rem;
    }
    
  }