/* Estilos para el componente desplegable */
#exposicion {
    background-color: #4B0082; /* Fondo violeta oscuro */
    color: #fff; /* Texto blanco */
    padding: 20px;
    padding-bottom: 4rem;
}
#preguntas {
    background-color: #240d30;
    color: #fff; /* Texto blanco */
    padding: 20px;
    padding-bottom: 4rem;
}

.content-faq-titem{
    padding: 4rem;
}
.faq-item {
    margin-bottom: 20px;
    
}

.question {
    cursor: pointer;
}

.answer {
    display: none;
}

/* Estilos para el texto de la pregunta */
.question h3 {
    background-color: #4B0082; /* Fondo violeta oscuro */
    color: #fff; /* Texto blanco */
    padding: 10px;
    margin: 0;
}

/* Estilos para el texto de la respuesta */
.answer p {
    margin: 0;
}

/* Estilos para mostrar la respuesta cuando se hace clic */
.answer.active {
    display: block;
}

.content-flex-video{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:2rem;

}
/* Desplegable */

.drop {
	margin: 50px;
   div, span {
		padding: 10px;
		border: 1px solid #eee;
		border-bottom: 0; 
		background-color: #fff;
		display: block;
      p {
        display: block;
        color: #ed8080;
        font-weight: bold;
		cursor: pointer;
      }
   }
   span{
	   color: #777;
   }
}

.buton-large{
    width: 100%!important;
    text-align: left;
    font-weight: 900;
}
.preguntas-centrar h1 {
    font-size: 50px;
    line-height: 1.1em;
}
.preguntas-centrar h2{
    font-size: 30px;
    line-height: 1.1em;
}
.preguntas-centrar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;

}
@media (max-width: 750px) {

        .preguntas-centrar h2{
            display: flex;
            flex-direction: column;
            align-items: center;
        
        }
        .preguntas-centrar {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    .content-flex-video {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        align-items: center;
    }
    .content-faq-titem {
        padding: 1rem;
    }    
    .video-mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .video-mobile h3{
        text-align: center;
    }
}