/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000; /* Fondo negro para los párrafos */
    color: #fff; /* Texto blanco */
}

/* Estilos para el efecto parallax */
section {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Estilos para el encabezado (header) */
/* Estilos para el logo */
.logo {
    margin-right: 10px; /* Espacio entre el logo y el título */
}

.logo img {
    max-width: 100px; /* Tamaño máximo del logo */
    height: auto;
}

/* Estilos para el título */
.title h1 {
    font-size: 24px;
    margin: 0;
}

header {
    background-color: #4B0082; /* Fondo violeta oscuro */
    color: #fff; /* Texto blanco */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    padding-top: 2rem;
}

header h1 {
    color: #fff; /* Texto blanco */
}
.h1-color{
    color:#fff;
}

nav ul {
    list-style: none;
    text-align: right;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff; /* Texto blanco */
    transition: color 0.3s; /* Transición de color al hacer clic */
}
nav a:hover {
    color: #0BED8F; /* Violeta claro al pasar el ratón */
}
nav a.selected {
    color: #0BED8F; /* Violeta claro para el elemento seleccionado */
}

/* Estilos para los botones */
.button-color {
    background-color: #5E3AD4; /* Fondo violeta oscuro */
    color: #fff; /* Texto blanco */
    padding: 18px;
    width: 8rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 900;
}

.button-color:hover {
    background-color: #cfb0ec; /* Violeta claro al pasar el ratón */
    color:#050715;
}
p{
    line-height: 1.8em;
    font-size: 16px;
    letter-spacing: 0.01em;
}

h2{
    font-size: 33px;
    line-height: 1.1em;
}